<ion-header>
  <ion-navbar>
    <ion-title>
      <!-- Coisir | {{user.name}} --> Coisir
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="logout()"><ion-icon name="power"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="createPost()"><ion-icon name="cloud-upload"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
 
    <ion-item-sliding *ngFor="let post of posts">

      <ion-item *ngIf="uParam == username">
        {{post.title}}
        {{post.uParam}}
      </ion-item>
 
      <ion-item-options>
        <button ion-button icon-only color="light" (click)="updatePost(post)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button icon-only color="primary" (click)="deletePost(post)">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
 
  </ion-list>
</ion-content>
