<ion-header>
  <ion-navbar>
    <ion-title>
      Cóisir | Hi, {{uParam}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()"><ion-icon name="power"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
 
    <ion-item *ngFor="let post of posts">

      <ion-item *ngIf="uParam == username">
          <ion-card (click)="presentActionSheet(post)">
              <ion-card-header>
                  <b>{{post.uParam}}</b>
              </ion-card-header>
              <ion-card-content>
                  {{post.title}}
                </ion-card-content>
            </ion-card>
      </ion-item>
    </ion-item>
 
  </ion-list>

  <ion-fab right bottom>
      <button ion-fab color="primary" (click)="createPost()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>
